#main-jumbo {
    background-color: rgba(0, 17, 24, 0.45);
    color: orange;
    font-family: "Spongebob", sans-serif;
    text-align: center;
}

.text-jumbo {
    padding:10px;
    background-color: rgba(0, 17, 24, 0.6);
    color: #40d9ca;
    font-family: "Questral", sans-serif;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}