<!-- Footer -->
<footer class="page-footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <div>
        <a href="https://www.linkedin.com/in/grimmon1/">
          Check me out on LinkedIn!
          <img src="../../assets/images/linkedin_logo.png" width=50>
        </a>
      </div>
      <div>
        © 2019 Copyright:
        <a href="https://www.gaberimmon.com/"> GabeRimmon.com</a>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->