
#site {
    /* max-width: 977px;
    min-width: 500px; */
    padding-top: 86px;
    margin: 0 auto;
}

#main-content {
    /* background-color: white;
    opacity: .6; */

    -webkit-border-radius: 30px;
            border-radius: 30px;

}