#main-jumbo {
    background-color: rgba(0, 17, 24, 0.45);
    color: orange;
    font-family: "Spongebob", sans-serif;
}

.text-jumbo {
    padding:10px;
    background-color: rgba(0, 17, 24, 0.6);
    color: #40d9ca;
    font-family: "Questral", sans-serif;
}

.tech-item {
    text-align: center;
    padding-top: 10px;
}