<div id="main-jumbo">
  <div style="text-align: right">

      <a href="../../assets/files/RimmonCV.pdf" download role="button" class="btn bg-custom btn-lg"><img src="../../assets/images/download.png">  Download my resume </a>
  </div>
  <div class="container">
      <p style='text-align: center; font-size: 28pt; font-family: "Spongebob";'>{{resume.name}}</p>
      <p style="text-align: center;"><span style="font-weight: 400;">{{resume.email}} | {{resume.phone}} | {{resume.location}}</span></p>
  
  
  <div class="row">
    <div class="col-lg-3 col-xl-2 section-title">
      <p>Summary</p>
    </div>
    <div class="col-lg-9 col-xl-10 text-jumbo">
      <p>{{resume.summary}}</p>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-lg-3 col-xl-2 section-title">
      <p>Professional Experience</p>
    </div>
    <div class="col-lg-9 col-xl-10 text-jumbo"> 
        <div *ngFor="let work of resume.works">
          <p><strong>{{work.date}} - {{work.position}} - <a href="{{work.href}}">{{work.company}}</a> </strong> <span style="font-weight: 400; float: right;"> 
            {{work.location}}</span></p>
    <ul *ngFor="let d of work.descriptions">
      <li style="font-weight: 400;"><span style="font-weight: 400;">{{d}}</span></li>
    </ul>
    <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-lg-3 col-xl-2 section-title">
      <p>Education</p>
    </div>
    <div class="col-lg-9 col-xl-10 text-jumbo"> 
        <div *ngFor="let education of resume.educations">
          <p><strong>{{education.date}} - {{education.degree}} - <a href="{{education.href}}">{{education.institution}}</a> </strong></p>
    <ul *ngFor="let d of education.descriptions">
      <li style="font-weight: 400;"><span style="font-weight: 400;">{{d}}</span></li>
    </ul>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-lg-3 col-xl-2 section-title">
      <p>Technical Skills</p>
    </div>
    <div class="col-lg-9 col-xl-10 text-jumbo"> 
      <ul *ngFor="let skill of resume.skills">
        <li style="font-weight: 400;"><span style="font-weight: 400;">{{skill}}</span></li>
      </ul>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-lg-3 col-xl-2 section-title">
      <p>Additional Information</p>
    </div>
    <div class="col-lg-9 col-xl-10 text-jumbo"> 
      <ul *ngFor="let info of resume.addlInfo">
        <li style="font-weight: 400;"><span style="font-weight: 400;">{{info}}</span></li>
      </ul>
    </div>
  </div>

</div>
</div>