#main-jumbo {
    background-color: rgba(0, 17, 24, 0.45);
    color: orange;
    padding: 50px;
}

.text-jumbo {
    padding:10px;
    background-color: rgba(0, 17, 24, 0.6);
    color: #40d9ca;
    font-family: "Questral", sans-serif;
    text-align: left;
}

.section-title {
    font-size: 18pt; 
    font-family: "Spongebob";
}

.bg-custom {
    background-image: linear-gradient(to top, #008899 0, #001b24 100%);
    color: white;
}