<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-custom">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/logo.png" height="60px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active item-selected" href="">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link header-item" href="about-gabe">About Gabe</a>
          <a class="nav-item header-item nav-link " href="about-site">About this Site</a>
          <a class="nav-item nav-link header-item" href="resume">Resume</a>
      </div>
    </div>
    <span class="navbar-text" style="right:0px;"> 
      <a href="https://www.linkedin.com/in/grimmon1/">
        Check me out on LinkedIn!
        <img src="../../assets/images/linkedin_logo.png" width=50>
      </a>
      
    </span>
</nav>

